.btn-1 {
  align-items: center;
  padding: 5px 10px;
  border: none;
  color: var(--figma-colors-white);
  font-family: var(--figma-font-families-pt-sans);
  font-style: normal;
  font-weight: var(--figma-font-weights-w700);
  font-size: 15px;
  cursor: pointer;
  min-width: 106px;
  height: 43px;
  background: var(--figma-colors-primary-blue);
  border-radius: 5px;
}

.btn-2 {
  align-items: flex-start;
  padding: 3px 15px;
  cursor: pointer;
  width: 188px;
  height: 32px;
  background: var(--figma-colors-primary-blue-soft);
  border-radius: 5px;
  border: none;
  font-family: var(--figma-font-families-pt-sans);
  font-style: normal;
  font-weight: var(--figma-font-weights-w400);
  font-size: 20px;
  line-height: 26px;
  color: var(--figma-colors-white);
}

.btn-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px 20px;
  align-items: center;
  cursor: pointer;
  width: 225px;
  height: 58px;
  background: #22c55e;
  border: 1px solid var(--figma-colors-white);
  border-radius: 5px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: var(--figma-font-weights-w400);
  font-size: 20px;
  line-height: 24px;
  color: var(--figma-colors-white);
}

.btn-3__icon {
  font-size: 30px;
  margin-right: 20px;
}

.btn-4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border: none;
  cursor: pointer;
  min-width: 173px;
  height: 31px;
  font-family: var(--figma-font-families-pt-sans);
  font-style: normal;
  font-weight: var(--figma-font-weights-w700);
  font-size: 13px;
  color: var(--figma-colors-white);
  background: var(--figma-colors-primary-blue);
  border-radius: 29px;
}

.btn-4__icon {
  font-size: 11px;
  margin-right: 10px;
}

.btn-5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  min-width: 77px;
  height: 23px;
  background: var(--figma-colors-primary-blue);
  border-radius: 5px;
  color: var(--figma-colors-white);
}

.btn-5__icon {
  font-size: 9px;
  margin-left: 5px;
}

.btn-6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-family: var(--figma-font-families-pt-sans);
  font-style: normal;
  font-weight: var(--figma-font-weights-w700);
  font-size: 14px;
  line-height: 18px;
  color: var(--figma-colors-white);
  min-width: 152px;
  height: 38px;
  background: var(--figma-colors-primary-blue);
  border-radius: 5px;
}

.btn-7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 20px;
  min-width: 183px;
  height: 40px;
  background: var(--figma-colors-primary-blue);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: var(--figma-font-families-pt-sans);
  font-style: normal;
  font-weight: var(--figma-font-weights-w700);
  font-size: 14px;
  line-height: 18px;
  color: var(--figma-colors-white);
}

.btn-7__icon {
  font-style: normal;
  font-size: 20px;
  margin-right: 10px;
}
